.sign-up {
  width: 384px;
  height: 599px;
  padding: 48px 32px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 20px;
    margin-bottom: 21px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 12px;
  
  &__title {
  font-size: 14px;
  }

  &__input {
    width: 320px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;

    &::placeholder {
      font-size: 16px;
    }
  }
}

.form {
  &__submit {
    width: 319px;
    height: 40px;
    background-color: #1890FF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  &__submit-no {
    width: 319px;
    height: 40px;
    background-color: #92c4f3;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}

.hr {
  border: 1px solid #d4d3d3;
}

.agreement {
  display: flex;
  cursor: pointer;
  margin-bottom: 21px;

  &__input {
    width: 16px;
    height: 16px;
  }

  &__title {
   color: #595959; 
  }
}

.footer {
  color: #595959;
  font-size: 12px;
  
  &__link {
    color: #1890FF;
  }
} 

.errors {

    &__input {
    font-size: 12px;
    color: red;
  }

  &__login {
    color: red;
    font-size: 13px;
  }

}

