.pagination {
  display: flex;
  align-items: baseline;

  &__lt, &__gt {
    border: none;
    background: none;
    font-size: 12px;
    cursor: pointer;
    width: 22px;
    height: 22px;
  }

  &__lt-active, &__gt-active {
    color: rgba(0, 0, 0, 0.35);
  }
}

.count {
  border: none;
  background: none;
  font-size: 12px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1890FF;
  border-radius: 4px;
}

